[submodule "sw_canard/ChibiOS"]
	path = sw_canard/ChibiOS
	url = git@github.com:ChibiOS/ChibiOS.git
[submodule "sw_canard/libcanard"]
	path = sw_canard/libcanard
	url = https://github.com/UAVCAN/libcanard
