pcb/out
sw/build
sw/config.mk
sw/.dep
sw/dsdlc_generated
sw/extern
sw/dsdlc_generated
sw/.vscode/settings.json
.settings
hub/*-bak
hub/fp-info-cache
hub/out
hub/hub-cache.lib
mini-pcb/*-bak
mini-pcb/*.bak
mini-pcb/fp-info-cache
mini-pcb/out
mini-pcb/rescue-backup
mini-pcb-v2/out
pcb/fp-info-cache
pcb/out2
pcb/rescue-backup
